

/* MAIN CONTENT */


.body {
    background-color: black;
}
.main {
    text-align: center;
    color: lightgray;
    font-family: cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}

.second {
    text-align: center;
    color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* // MAIN CONTENT */


/* VIDEO */
.video {
    text-align: center;
}



/* // VIDEO */


/* CAROUSEL CSS */
.carousel-inner {
    border: solid;
    border-color: white;
    padding: 20px;
    padding-top: 30px;
}


/* // CAROUSEL CSS */

/* MEDIA QUERIES */
@media (max-width: 770px) {
    .second {
        font-size: 1.25em;
    }
}
@media (max-width: 770px) {
    .main {
        font-size: 1.5em;
    }
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } 
}

/* // MEDIA QUERIES */
    