

/* MAIN CONTENT */


.body {
    background-color: black;
}
.main {
    text-align: center;
    color: orange;
    font-family: cursive, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}
.under {
    text-align: center;
    color: orange;
    padding-bottom: 20px;
}
.second {
    text-align: center;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-fluid {
    border: solid;
    border-color: orange;
}
/* // MAIN CONTENT */


/* VIDEO */
.video {
    padding: 20px;
    text-align: center;
}

/* // VIDEO */


/* gallery */
img:hover {
    cursor: pointer;
    opacity: .6;
}
img {
    height: 160px;
    width: 300px;
}
/* // gallery */

/* MEDIA QUERIES */
@media (max-width: 770px) {
    .second {
        font-size: 1.25em;
    }
}
@media (max-width: 770px) {
    .main {
        font-size: 1.5em;
    }
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } 
}

@media (max-width: 767px) {  /* This is center the images after a breakpoint */
    img {
      display: table;
      margin: 0 auto;
    }
 }
@media (max-width: 600px) {
iframe {
    height:250px !important;
    width: 300px !important;
}
}

/* // MEDIA QUERIES */
    



